/*================================================================================*/
/*=================================== Default ===================================*/
/*================================================================================*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*=================================== BASIC ===================================*/

a {
    text-decoration: none;
    list-style-type: none; 
}
p {
    padding-top: 60px;
    text-align: center;
    font-family: monospace;
    font-size: 12px;
}

/*=================================== TITRE ===================================*/

h1,
h2,
h3,
h4,
h5,
h6{
    color:#ffaf2e;
}

/*=================================== LISTE ===================================*/

ul {
    margin: 0;
    padding: 0;
}
li {
    text-decoration: none;
    list-style-type: none;
    color: #2572f7;
}

/*=================================== TABLEAU ===================================*/

table {   
}
tr {    
}
th {
    font-size: 15px;
}
td {
    font-size: 12px;
}

/*================================================================================*/
/*=================================== NAV BAR ===================================*/
/*================================================================================*/
header nav.navbar {
    overflow: hidden;
    background-color: #292929;
    position: fixed;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 5px 10px #242323;
}
header nav.navbar ul li {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    display: inline-block;
}
header nav.navbar ul li a {
    color: white;
    display: block;
    padding: 18px 15px;
}
header nav.navbar ul li:hover a {
    color: #2572f7;
    transition: 0.4s;
}
header nav.navbar ul li.active a{
    color: #ffaf2e;
}
header nav.navbar ul li.active:hover a{
    color: #2572f7;
}
/*================================================================================*/
/*==================================== HEADER ====================================*/
/*================================================================================*/
header {   
}
/*================================================================================*/
/*===================================== BODY =====================================*/
/*================================================================================*/
body {
/*    background-image: url('../img/background.jpg');*/
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*================================================================================*/
/*==================================== FOOTER ====================================*/
/*================================================================================*/
footer {
    flex-shrink: 0;
    width: 100%;
    background: #292929;
    color: #ffffff;
    border-top: solid;
    border-top-width: 6px;
}
footer a {
    color: white;
}
/*================================================================================*/
/*===================================== DIV =====================================*/
/*================================================================================*/
div {    
}
div.principal {
    flex: 1 0 auto;
    padding-top: 100px;
    text-align: center;
}
div.principal p {
    padding: 5vw 10vw;
    text-align: justify;
}
div.principal_footer{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 15px 0px 10px;
}
div.bloc {
    flex-basis: 20%;
    margin: 0 15px;
    border-top: solid;
}
div.footer_page,
div.footer_contact,
div.footer_social{
    background-color: transparent;
}
div.footer_page ul.footer_text,
div.footer_contact ul.footer_text,
div.footer_social ul.footer_text{
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.footer_page h1,
div.footer_contact h1,
div.footer_social h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    padding-top: 8px;
}
div.footer_page ul.footer_text li,
div.footer_social ul.footer_text li,
div.footer_contact ul.footer_text li{
    padding-top: 5px;
    padding-bottom: 5px;
}
div.footer_page ul.footer_text li:hover a,
div.footer_social ul.footer_text li:hover a,
div.footer_contact ul.footer_text li:hover a{
    color: #2572f7;
    transition: 0.3s;
}

/*================================================================================*/
/*===================================== CHANGE COLOR SYSTEME =====================================*/
/*================================================================================*/
@media (prefers-color-scheme: dark){
    body {
        background-color: #292929;
    }
}
@media (prefers-color-scheme: light){
    body {
        background-color: #fff;
    }
}